<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home_style.css">
    <link rel="stylesheet" href="../static/font_search/iconfont.css">
    <link rel="stylesheet" href="../static/font_star_and_place/iconfont.css">
</head>
<body>
    <header>
        <h2 class="logo">Puppy Green Book</h2>
        <nav class="navigation">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/map">Map</a>
            <a href="/user">Account</a>
            <a href="/login">Login</a>
        </nav>

        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here...">
            <label for="search-bar" class="iconfont icon-search"></label>
        </form>
    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>pet-friendly places</h3>
            <p>discover new places with us</p>
            <a href="/about" class="btn">discover more</a>
        </div>
        <div class="slider-show middle">
            <div class="slides">
                <input type="radio" name="r" id="rl" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <div class="slide s1">
                    <img src="../static/public/1.jpg" alt="" >
                </div>
                <div class="slide">
                    <img src="../static/public/2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../static/public/3.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../static/public/4.jpg" alt="">
                </div>
                <div class="slide-navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                    <label for="r4" class="bar"></label>
                </div>
            </div>
           </div>
    </section>

    <section class="coffee">
        <h1 class="heading">
            <span>R</span>
            <span>e</span>
            <span>s</span>
            <span>t</span>
            <span>a</span>
            <span>u</span>
            <span>r</span>
            <span>a</span>
            <span>n</span>
            <span>t</span>
        </h1>
        <div class="box-contianer">
            <div class="box">
                <img src="../static/public/Happy Monk Restaurant.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Happy Monk Restaurant</span></h3>
                    <p>road1,No.123</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-star "></span>
                    </div>
                    <div class="price">$1.00 <span>$20.00</span></div>
                    <a href="/introduction/happy_monk_restaurant" class="btn">book now</a>
                </div>

            </div>
            <div class="box">
                <img src="../static/public/Over easy restaurant.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Over easy restaurant</span></h3>
                    <p>road3,No.12</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>

                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/over_easy_restaurant" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="../static/public/CHILLAX Restaurant.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">CHILLAX Restaurant</span></h3>
                    <p>road5,No.67</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>

                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/CHILLAX Restaurant" class="btn">book now</a>
                </div>

            </div>
        </div>
    </section>

    <section class="coffee">
        <h1 class="heading">
            <span>G</span>
            <span>a</span>
            <span>r</span>
            <span>d</span>
            <span>e</span>
            <span>n</span>
        </h1>
        <div class="box-contianer">
            <div class="box">
                <img src="../static/public/Lu Lake Park.png" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Lu Lake Park</span></h3>
                    <p>road1,No.123</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-star "></span>
                    </div>
                    <div class="price">$1.00 <span>$20.00</span></div>
                    <a href="/introduction/Lu Lake Park" class="btn">book now</a>
                </div>
            </div>
            <div class="box">
                <img src="../static/public/Tianhe Wetland Park.png" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Tianhe Wetland Park</span></h3>
                    <p>road3,No.12</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>

                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/Tianhe Wetland Park" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="../static/public/Nantou Ancient City.png" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Nantou Ancient City</span></h3>
                    <p>road5,No.67</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>

                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/Nantou Ancient City" class="btn">book now</a>
                </div>

            </div>
        </div>
    </section>

    <section class="coffee">
        <h1 class="heading">
            <span>H</span>
            <span>o</span>
            <span>t</span>
            <span>e</span>
            <span>l</span>
        </h1>
        <div class="box-contianer">
            <div class="box">
                <img src="../static/public/Xianhu Qingshe Hotel.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Xianhu Qingshe Hotel</span></h3>
                    <p>road1,No.123</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-star "></span>
                    </div>

                    <div class="price">$1.00 <span>$20.00</span></div>
                    <a href="/introduction/Xianhu Qingshe Hotel" class="btn">book now</a>
                </div>

            </div>
            <div class="box">
                <img src="../static/public/The Victoria Hotel.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">The Victoria Hotel</span></h3>
                    <p>road3,No.12</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>

                    </div>

                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/The Victoria Hotel" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="../static/public/Foshan Nanhai Zhanyun Hotel.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Foshan Nanhai Zhanyun Hotel</span></h3>
                    <p>road5,No.67</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>

                    </div>

                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/Foshan Nanhai Zhanyun Hotel" class="btn">book now</a>
                </div>
            </div>
        </div>
    </section>

 <section class="coffee">
        <h1 class="heading">
            <span>H</span>
            <span>o</span>
            <span>s</span>
            <span>p</span>
            <span>i</span>
            <span>t</span>
            <span>a</span>
            <span>l</span>
        </h1>
        <div class="box-contianer">
            <div class="box">
                <img src="../static/public/HaiCheng animals hospital.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">HaiCheng animals hospital</span></h3>
                    <p>road1,No.123</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-star "></span>
                    </div>
                    <div class="price">$1.00 <span>$20.00</span></div>
                    <a href="/introduction/HaiCheng animals hospital" class="btn">book now</a>
                </div>
            </div>
            <div class="box">
                <img src="../static/public/Aibesi Animal Hospital.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Aibesi Animal Hospital</span></h3>
                    <p>road3,No.12</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>

                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/Aibesi Animal Hospital" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="../static/public/Shi Jia Animals hospital.png" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Shi Jia Animals hospital</span></h3>
                    <p>road5,No.67</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/Shi Jia Animals hospital" class="btn">book now</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>